<section
  id="home"
  class="relative overflow-hidden pt-[72px]"
  data-aos="zoom-out"
  data-aos-easing="ease"
  data-aos-duration="1000"
>
  <div
    class="relative mx-10 overflow-hidden rounded-2xl bg-gradient-to-l from-red-800/40 to-violet-800/40 backdrop-blur-3xl"
  >
    <div>
      <div
        class="-z-1 absolute end-[10%] top-1/4 h-14 w-14 animate-ping rounded-full bg-primary/20"
      ></div>
      <div class="-z-1 absolute start-[20%] top-10 animate-ping rounded-full">
        <lucide-icon
          name="hexagon"
          class="h-14 w-14 fill-orange-500/20 text-transparent"
        ></lucide-icon>
      </div>
      <div
        class="-z-1 absolute end-[20%] top-10 animate-[spin_10s_linear_infinite] rounded-full"
      >
        <img src="assets/images/ai/star.svg" alt="" class="h-8 w-8" />
      </div>
      <div
        class="-z-1 absolute start-[10%] top-1/4 animate-[spin_10s_linear_infinite] rounded-full"
      >
        <img src="assets/images/ai/star.svg" alt="" class="h-8 w-8" />
      </div>
    </div>
    <div class="container relative">
      <div class="flex items-center justify-center pt-20">
        <div class="mx-auto max-w-4xl text-center">
          <div>
            <img src="assets/images/logo-sm.png" alt="" class="mx-auto h-20" />
          </div>
          <h1
            class="mb-6 text-4xl/snug font-semibold capitalize tracking-wide text-white"
          >
            WebAI- AI Startup & Technology Landing Page HTML Template built for
            <span
              class="typewrite relative capitalize text-primary underline"
              [attr.data-period]="2000"
              [attr.data-type]="[
                'Ai Content',
                'NFTs',
                'Ai Image Generator',
                'Video Creator',
                'Ai Business Tools',
              ]"
              ><span class="wrap">{{ currentText }}</span></span
            >
          </h1>
          <p class="mb-8 text-lg font-medium text-default-200">
            Start working with Tailwindcss It allows you to compose complex
            designs by combining and customizing utility classes..
          </p>
          <a
            class="hover:shadow-primary-200 inline-flex w-auto items-center gap-2 rounded-full bg-primary px-6 py-2.5 font-semibold text-white transition-all duration-300 hover:shadow-xl"
            href="#demo"
          >
            View Demos <lucide-icon name="eye" class="h-5 w-5"></lucide-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="grid-cols-1">
      <div class="mb-6 mt-14">
        <div class="relative m-auto flex gap-8 overflow-hidden">
          <div
            class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8"
          >
            <img
              class="aspect-1 h-60 w-full rounded-lg object-cover"
              src="assets/images/demo/demo1.png"
              alt=""
            />
            <img
              class="aspect-1 h-60 w-full rounded-lg object-cover"
              src="assets/images/demo/demo2.png"
              alt=""
            />
            <img
              class="aspect-1 h-60 w-full rounded-lg object-cover"
              src="assets/images/demo/demo3.png"
              alt=""
            />
            <img
              class="aspect-1 h-60 w-full rounded-lg object-cover"
              src="assets/images/demo/demo4.png"
              alt=""
            />
            <img
              class="aspect-1 h-60 w-full rounded-lg object-cover"
              src="assets/images/demo/demo5.png"
              alt=""
            />
          </div>

          <div
            aria-hidden="true"
            class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8"
          >
            <img
              class="aspect-1 h-60 w-full rounded-lg object-cover"
              src="assets/images/demo/auth-login.png"
              alt=""
            />
            <img
              class="aspect-1 h-60 w-full rounded-lg object-cover"
              src="assets/images/demo/auth-qr-login.png"
              alt=""
            />
            <img
              class="aspect-1 h-60 w-full rounded-lg object-cover"
              src="assets/images/demo/auth-register.png"
              alt=""
            />
            <img
              class="aspect-1 h-60 w-full rounded-lg object-cover"
              src="assets/images/demo/auth-lock-screen.png"
              alt=""
            />
            <img
              class="aspect-1 h-60 w-full rounded-lg object-cover"
              src="assets/images/demo/auth-forgotpw.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
