<section class="py-14">
  <div class="container">
    <div class="grid items-center gap-6 md:grid-cols-2">
      <div
        data-aos="fade-right"
        data-aos-easing="ease"
        data-aos-duration="1000"
      >
        <span
          class="rounded-md bg-primary/20 px-3 py-1 text-sm font-medium uppercase tracking-wider text-primary"
          >AI technolog</span
        >
        <h2 class="mt-4 text-3xl/snug font-medium capitalize text-white">
          Create amazing content with AI technology.
        </h2>
        <p class="mt-5 text-base font-medium text-default-200">
          Start working with Tailwindcss It allows you to compose complex
          designs <br />
          by combining and customizing utility classes..
        </p>
        <div class="mt-10 flex flex-wrap items-center gap-6">
          <a
            href="javascript: void(0);"
            class="inline-flex items-center justify-center gap-2 rounded-full bg-primary px-6 py-2 text-white transition-all duration-300 hover:bg-primary-hover"
            >Get start free
            <lucide-icon name="move-right" class="h-5 w-5"></lucide-icon>
          </a>

          <a
            href="javascript: void(0);"
            class="inline-flex items-center justify-center gap-2 rounded-full border border-white/10 px-6 py-2 text-white transition-all duration-300 hover:bg-primary-hover"
            >More Tools
            <lucide-icon name="move-right" class="h-5 w-5"> </lucide-icon>
          </a>
        </div>
      </div>

      <div data-aos="fade-left" data-aos-easing="ease" data-aos-duration="1000">
        <img src="assets/images/ai/video-2.svg" class="h-full w-full" alt="" />
      </div>
    </div>

    <div class="mt-14 grid items-center gap-6 md:grid-cols-2">
      <div
        class="2xl:-ms-16"
        data-aos="fade-right"
        data-aos-easing="ease"
        data-aos-duration="1000"
      >
        <img src="assets/images/ai/video-1.svg" class="h-full w-full" alt="" />
      </div>

      <div data-aos="fade-left" data-aos-easing="ease" data-aos-duration="1000">
        <span
          class="rounded-md bg-primary/20 px-3 py-1 text-sm font-medium uppercase tracking-wider text-primary"
          >Content generate</span
        >
        <h2 class="mt-4 text-3xl/snug font-medium capitalize text-white">
          Content you can write & generate with our AI
        </h2>
        <p class="mt-5 text-base font-medium text-default-200">
          Start working with Tailwindcss It allows you to compose complex
          designs <br />
          by combining and customizing utility classes..
        </p>
        <div class="mt-10 flex flex-wrap items-center gap-6">
          <a
            href="javascript: void(0);"
            class="inline-flex items-center justify-center gap-2 rounded-full bg-primary px-6 py-2 text-white transition-all duration-300 hover:bg-primary-hover"
            >Get start free
            <lucide-icon name="move-right" class="h-5 w-5"></lucide-icon>
          </a>

          <a
            href="javascript: void(0);"
            class="inline-flex items-center justify-center gap-2 rounded-full border border-white/10 px-6 py-2 text-white transition-all duration-300 hover:bg-primary-hover"
            >More Tools
            <lucide-icon name="move-right" class="h-5 w-5"></lucide-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
