<div class="border-t border-white/10 py-6">
  <div
    class="container flex h-full flex-wrap items-center justify-center gap-4 text-center md:justify-between md:text-start lg:px-20"
  >
    <p class="text-base font-medium text-default-400">
      {{ currentYear }}
      Tudor AI -
      <a href="javascript: void(0);">All rights reserved.</a>
    </p>
    <p class="text-base font-medium text-default-400">
      <a href="javascript: void(0);">Terms Conditions & Policy</a>
    </p>
  </div>
</div>
