<div class="border-t border-white/10 py-6">
  <div
    class="container flex h-full flex-wrap items-center justify-center gap-4 text-center md:justify-between md:text-start lg:px-20"
  >
    <p class="text-base font-medium text-default-400">
      {{ currentYear }}
      © WebAi -
      <a href="javascript: void(0);"
        >Design & Crafted
        <lucide-icon
          name="heart"
          class="inline h-4 w-4 fill-red-500 text-red-500"
        ></lucide-icon>
        by {{ developedBy }}</a
      >
    </p>
    <p class="text-base font-medium text-default-400">
      <a href="javascript: void(0);">Terms Conditions & Policy</a>
    </p>
  </div>
</div>
