<section class="py-20">
  <div class="container">
    <div class="mb-10 flex items-end justify-between">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="mb-4 text-3xl font-medium capitalize text-white">
          Trending Topics
        </h2>
        <p class="text-sm font-medium text-default-200">
          Start working with Tailwindcss It allows you to compose complex
          designs <br />
          by combining and customizing utility classes..
        </p>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      @for (topic of trendingTopics; track $index) {
        <div
          class="rounded-lg border border-white/10 bg-default-950/40 p-6"
          data-aos="fade-up"
          data-aos-easing="ease"
          data-aos-duration="1000"
        >
          <div class="flex gap-5">
            <div>
              <div
                class="mt-2 flex h-8 w-8 items-center justify-center rounded-md bg-primary/20 text-xl font-semibold text-primary"
              >
                {{ topic.id }}
              </div>
            </div>
            <div>
              <h2 class="text-xl font-medium text-white">{{ topic.title }}</h2>
              <p class="mt-1 text-base font-medium text-default-200">
                {{ topic.description }}
              </p>
              <div class="mt-6 flex items-center gap-2">
                @for (avatar of topic.avatars; track $index) {
                  <img [src]="avatar" class="h-10 rounded bg-white" alt="" />
                }
              </div>
              <a
                href="javascript: void(0);"
                class="group relative mt-6 inline-flex items-center gap-2 text-primary"
              >
                <span
                  class="absolute -bottom-0 h-px w-7/12 rounded bg-primary/80 transition-all duration-500 group-hover:w-full"
                ></span>
                Read more
                <lucide-icon name="move-right" class="h-4 w-4"></lucide-icon>
              </a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
