<header
  #homenavbar
  id="navbar-sticky"
  class="navbar"
  [ngClass]="{ 'nav-sticky': navSticky }"
>
  <div class="container">
    <nav>
      <a routerLink="/" class="logo">
        <div
          class="text-3xl font-bold bg-gradient-to-r from-blue-600 via-purple-600 to-indigo-600 bg-clip-text text-transparent hover:from-blue-500 hover:via-purple-500 hover:to-indigo-500 transition-all duration-300 tracking-wider"
        >
          <span class="font-black">Tudor</span
          ><span class="font-light italic">AI</span>
        </div>
      </a>
      <div class="ms-auto flex items-center px-2.5 lg:hidden">
        <button
          class="hs-collapse-toggle inline-flex h-9 w-12 items-center justify-center rounded-md border border-white/20 bg-default-100/5"
          type="button"
          id="hs-unstyled-collapse"
          data-hs-collapse="#mobileMenu"
          data-hs-type="collapse"
        >
          <lucide-angular
            name="menu"
            class="h-5 w-5 stroke-white"
          ></lucide-angular>
        </button>
      </div>

      <div
        id="mobileMenu"
        class="hs-collapse mx-auto mt-2 hidden grow basis-full items-center justify-center transition-all duration-300 lg:mt-0 lg:flex lg:basis-auto"
      >
        <ul id="navbar-navlist" class="navbar-nav">
          @for (item of linkList; track $index) {
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="scrollToSection($event, item.link)"
                href="{{ item.link }}"
                >{{ item.label }}</a
              >
            </li>
          }
        </ul>

        <div
          class="mt-4 flex items-center border-t border-white/10 pt-4 lg:mt-0 lg:hidden lg:border-none lg:pt-0"
        >
          <a
            href="javascript: void(0);"
            class="duration-3 inline-flex items-center justify-center gap-2 rounded-full bg-primary px-6 py-2 text-white transition-all hover:bg-primary-hover"
            ><lucide-icon
              name="arrow-big-down-dash"
              class="me-2 h-5 w-5"
            ></lucide-icon>
            Download</a
          >
        </div>
      </div>

      <div class="hidden items-center lg:flex">
        <a
          routerLink="/auth/login"
          class="inline-flex items-center justify-center gap-2 rounded-full bg-primary px-6 py-2 text-white transition-all duration-300 hover:bg-primary-hover"
          ><lucide-icon
            name="circle-user-round"
            class="me-2 h-5 w-5"
          ></lucide-icon>
          Login
        </a>
      </div>
    </nav>
  </div>
</header>
