<section id="home" class="relative overflow-hidden pb-20 pt-[72px]">
  <div class="px-6 py-4">
    <div class="rounded-2xl bg-default-950/40">
      <div class="container">
        <div class="p-6">
          <div
            class="relative grid grid-cols-1 items-center gap-12 lg:grid-cols-2"
          >
            <div
              class="-z-1 absolute start-0 top-0 h-14 w-14 animate-[spin_10s_linear_infinite] rounded-2xl rounded-br-none rounded-tl-none bg-primary/10"
            ></div>
            <div
              class="-z-1 absolute bottom-0 end-0 h-14 w-14 animate-ping rounded-full bg-primary/20"
            ></div>

            <div
              class=""
              data-aos="fade-right"
              data-aos-easing="ease"
              data-aos-duration="1000"
            >
              <span
                class="rounded-md bg-primary/20 px-3 py-1 text-sm font-medium uppercase tracking-wider text-primary"
                >MEET YOUR CO-PILOT</span
              >
              <h1
                class="my-4 max-w-lg text-4xl font-medium text-white md:text-5xl/tight"
              >
                Image generate with our ai instantly.
              </h1>
              <p class="text-default-300 md:text-lg">
                Get AI generated images from text straight from your <br />
                browser very easily.
              </p>

              <a
                href="javascript: void(0);"
                class="group mt-10 inline-flex items-center justify-center gap-2 rounded-full border border-white/10 px-1 py-1 pe-4 text-white transition-all duration-300 hover:bg-primary-hover"
              >
                <span
                  class="me-2 flex h-11 w-11 items-center justify-center rounded-full bg-primary/20 text-primary group-hover:bg-white/10 group-hover:text-white"
                >
                  <lucide-icon name="image" class="h-5 w-5"></lucide-icon>
                </span>
                Generate Images
              </a>
            </div>
            <div
              class="mx-auto h-[595px] overflow-hidden"
              data-aos="zoom-in"
              data-aos-easing="ease"
              data-aos-duration="1000"
            >
              <div class="marquee grid grid-cols-2 gap-6">
                <div
                  class="relative m-auto flex flex-col gap-6 overflow-hidden"
                >
                  <div
                    class="marquee-hero flex min-h-full flex-shrink-0 flex-col items-center justify-around gap-6"
                  >
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-9.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-14.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-21.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-22.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-10.jpg"
                      alt=""
                    />
                  </div>

                  <div
                    aria-hidden="true"
                    class="marquee-hero flex min-h-full flex-shrink-0 flex-col items-center justify-around gap-6"
                  >
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-9.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-14.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-21.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-22.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-10.jpg"
                      alt=""
                    />
                  </div>
                </div>

                <div
                  class="marquee-reverse m-auto flex flex-col gap-6 overflow-hidden"
                >
                  <div
                    class="marquee-hero flex min-h-full flex-shrink-0 flex-col items-center justify-around gap-6"
                  >
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-6.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-10.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-11.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-12.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-13.jpg"
                      alt=""
                    />
                  </div>

                  <div
                    aria-hidden="true"
                    class="marquee-hero flex min-h-full flex-shrink-0 flex-col items-center justify-around gap-6"
                  >
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-6.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-10.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-11.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-12.jpg"
                      alt=""
                    />
                    <img
                      class="aspect-1 h-full w-60 rounded-xl object-cover"
                      src="assets/images/ai/img-13.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-24">
  <div class="container">
    <div class="grid gap-6 lg:grid-cols-2">
      <div
        class="relative overflow-hidden rounded-lg"
        data-aos="fade-right"
        data-aos-easing="ease"
        data-aos-duration="1000"
      >
        <img
          class="ransition mx-auto h-full w-full object-cover object-top duration-500 group-hover:scale-105"
          src="assets/images/ai/img-10.jpg"
          alt="woman"
          loading="lazy"
          width="640"
          height="805"
        />
        <div class="absolute inset-0">
          <div class="h-full w-full">
            <div class="flex h-full w-full items-end p-5">
              <div class="w-full rounded bg-white/10 p-6 backdrop-blur-md">
                <h2 class="text-center text-lg font-normal text-default-300">
                  Gaze upon the awe-inspiring creation of artificial
                  intelligence, a majestic dragon of epic proportions.
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="grid gap-6 md:grid-cols-2"
        data-aos="fade-left"
        data-aos-easing="ease"
        data-aos-duration="1000"
      >
        <div class="relative overflow-hidden rounded-lg">
          <img
            class="ransition mx-auto h-full w-full object-cover object-top duration-500 group-hover:scale-105"
            src="assets/images/ai/img-13.jpg"
            alt="woman"
            loading="lazy"
            width="640"
            height="805"
          />
          <div class="absolute inset-0">
            <div class="h-full w-full">
              <div class="flex h-full w-full items-end p-5">
                <div class="w-full rounded bg-white/10 p-6 backdrop-blur-md">
                  <h3 class="text-center text-lg font-normal text-default-200">
                    An enchanting ice dragon born from the algorithms of AI
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="relative overflow-hidden rounded-lg">
          <img
            class="ransition mx-auto h-full w-full object-cover object-top duration-500 group-hover:scale-105"
            src="assets/images/ai/img-8.jpg"
            alt="woman"
            loading="lazy"
            width="640"
            height="805"
          />
          <div class="absolute inset-0">
            <div class="h-full w-full">
              <div class="flex h-full w-full items-end p-5">
                <div class="w-full rounded bg-white/10 p-6 backdrop-blur-md">
                  <h3 class="text-center text-lg font-normal text-default-200">
                    A marvel of mechanical artistry and AI ingenuity
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="relative overflow-hidden rounded-lg"
        data-aos="fade-right"
        data-aos-easing="ease"
        data-aos-duration="1000"
      >
        <img
          class="ransition mx-auto h-full w-full object-cover object-top duration-500 group-hover:scale-105"
          src="assets/images/ai/img-11.jpg"
          alt="woman"
          loading="lazy"
          width="640"
          height="805"
        />
        <div class="absolute inset-0">
          <div class="h-full w-full">
            <div class="flex h-full w-full items-end p-5">
              <div class="w-full rounded bg-white/10 p-6 backdrop-blur-md">
                <h3 class="text-center text-lg font-normal text-default-200">
                  In the heart of an enchanted forest, an AI-born dragon stands
                  as a guardian of the woods
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="relative overflow-hidden rounded-lg"
        data-aos="fade-left"
        data-aos-easing="ease"
        data-aos-duration="1000"
      >
        <img
          class="ransition mx-auto h-full w-full object-cover object-top duration-500 group-hover:scale-105"
          src="assets/images/ai/img-12.jpg"
          alt="woman"
          loading="lazy"
          width="640"
          height="805"
        />
        <div class="absolute inset-0">
          <div class="h-full w-full">
            <div class="flex h-full w-full items-end justify-end p-5">
              <a
                href="javascript: void(0);"
                class="flex items-center gap-6 rounded-full bg-white/10 px-3 py-2 text-default-300 backdrop-blur-md"
                >Explore more
                <lucide-icon
                  name="send"
                  class="h-5 w-5 stroke-white"
                ></lucide-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
