<section class="py-14">
  <div
    class="container"
    data-aos="zoom-out"
    data-aos-easing="ease"
    data-aos-duration="1000"
  >
    <div class="rounded-xl bg-default-950/40 p-6">
      <div class="flex flex-wrap items-center gap-6">
        <div class="flex-shrink">
          <div class="flex -space-x-2">
            <img
              class="inline-block h-10 w-10 rounded-full bg-white ring-2 ring-default-950"
              src="assets/images/avatars/img-1.png"
              alt="Image Description"
            />
            <img
              class="inline-block h-10 w-10 rounded-full bg-white ring-2 ring-default-950"
              src="assets/images/avatars/img-2.png"
              alt="Image Description"
            />
            <img
              class="inline-block h-10 w-10 rounded-full bg-white ring-2 ring-default-950"
              src="assets/images/avatars/img-3.png"
              alt="Image Description"
            />
            <button
              class="text-primarys h-10 w-10 rounded-full bg-white font-medium"
            >
              80+
            </button>
          </div>
        </div>

        <div class="flex-grow">
          <h3 class="text-lg font-medium text-default-200">
            Join our AI experts communiy
          </h3>
          <p class="mt-5 w-3/4 text-base font-medium text-default-300">
            Meet and learn from 80+ creators & companies who share how thay use
            AI to create better content at lightning speed.
          </p>
        </div>

        <div class="flex-shrink">
          <a
            href="javascript: void(0);"
            class="inline-flex items-center justify-center gap-2 rounded-full bg-primary px-6 py-2 text-white transition-all duration-300 hover:bg-primary-hover"
            >Join
            <lucide-icon name="move-right" class="h-5 w-5"></lucide-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
