<section class="pb-24">
  <div class="container">
    <div class="mb-10 flex items-end justify-between">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="mb-4 text-3xl font-medium capitalize text-white">
          Supercharge your content generation process.
        </h2>
        <p class="mx-auto w-2/3 text-base font-medium text-default-200">
          Join us today and experience the power of AI-powered text creation for
          yourself!
        </p>

        <div class="mt-8">
          <a
            href="javascript: void(0);"
            class="inline-flex items-center justify-center gap-2 rounded-full bg-primary px-6 py-2 text-white transition-all duration-300 hover:bg-primary-hover"
            >Get start free
            <lucide-icon name="move-right" class="h-5 w-5"></lucide-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
