<section
  id="showcase"
  class="pb-24"
  data-aos="zoom-out"
  data-aos-duration="800"
>
  <div class="container">
    <div class="mb-10 flex flex-wrap items-center justify-between">
      <div>
        <h2 class="mb-2 text-4xl font-medium capitalize text-white">
          The Best showcase
        </h2>
        <p class="text-sm font-medium text-default-200">
          Start working with Tailwindcss It allows you to compose complex
          designs <br />
          by combining and customizing utility classes..
        </p>
      </div>
      <a
        href="javascript: void(0);"
        class="inline-flex items-center justify-center gap-2 rounded-full border border-white/10 px-4 py-1.5 text-sm text-white transition-all duration-300 hover:bg-primary-hover"
        >See More <lucide-icon name="move-right" class="h-5 w-5"></lucide-icon
      ></a>
    </div>

    <lightgallery
      [settings]="settings"
      class="grid grid-cols-2 gap-4 overflow-hidden rounded-xl md:grid-cols-4 md:gap-0"
    >
      @for (image of showcaseImages; track $index) {
        <a [href]="image" class="glightbox overflow-hidden">
          <img
            [src]="image"
            class="w-full rounded-lg object-cover transition-all duration-1000 hover:scale-110 md:rounded-none"
            alt=""
          />
        </a>
      }
    </lightgallery>
  </div>
</section>

<section
  class="pb-24"
  data-aos="zoom-out"
  data-aos-easing="ease"
  data-aos-duration="1000"
>
  <div class="container">
    <div
      class="grid grid-cols-1 gap-px overflow-hidden rounded-xl md:grid-cols-2 lg:grid-cols-2"
    >
      <div
        class="group relative overflow-hidden bg-slate-950/40 backdrop-blur-3xl transition-all duration-500 hover:bg-primary/40"
      >
        <div class="p-6">
          <div class="relative h-24 w-24 overflow-hidden text-transparent">
            <lucide-icon
              name="diamond"
              class="h-24 w-24 fill-primary/10 group-hover:fill-white/20"
            ></lucide-icon>
            <div
              class="absolute end-0 start-0 top-1/2 inline-flex -translate-y-1/2 items-center justify-center rounded-xl text-primary duration-500 group-hover:text-white"
            >
              <lucide-icon name="wallet" class="h-6 w-6"></lucide-icon>
            </div>
          </div>

          <div class="mt-6">
            <a
              href="javascript: void(0);"
              class="text-xl font-medium text-white duration-500"
              >Set up your wallet</a
            >
            <p
              class="mt-3 text-default-300 duration-500 group-hover:text-white/80"
            >
              Use Trust Wallet, Metamask or any wallet to connect to the app.
            </p>
            <p
              class="mt-2 text-default-300 duration-500 group-hover:text-white/80"
            >
              You can upload any files from your computer or use Youtube links.
              Keep in mind that our content repurposing works best with longer
              videos.
            </p>
          </div>
        </div>
      </div>

      <div
        class="group relative overflow-hidden bg-slate-950/40 backdrop-blur-3xl transition-all duration-500 hover:bg-primary/40"
      >
        <div class="p-6">
          <div class="relative inline-block overflow-hidden text-transparent">
            <lucide-icon
              name="diamond"
              class="h-24 w-24 fill-primary/10 group-hover:fill-white/20"
            ></lucide-icon>
            <div
              class="absolute end-0 start-0 top-1/2 inline-flex -translate-y-1/2 items-center justify-center rounded-xl text-primary duration-500 group-hover:text-white"
            >
              <lucide-icon name="shapes" class="h-6 w-6"></lucide-icon>
            </div>
          </div>

          <div class="mt-6">
            <a
              href="javascript: void(0);"
              class="text-xl font-medium text-white duration-500"
              >Create your collection</a
            >
            <p
              class="mt-3 text-default-300 duration-500 group-hover:text-white/80"
            >
              Upload your NFTs and set a title, description and price.
            </p>
            <p
              class="mt-2 text-default-300 duration-500 group-hover:text-white/80"
            >
              You can upload any files from your computer or use Youtube links.
              Keep in mind that our content repurposing works best with longer
              videos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-24" data-aos="zoom-out" data-aos-duration="800">
  <div class="container">
    <div class="mb-10 flex flex-wrap items-center justify-between">
      <div>
        <h2 class="mb-2 text-4xl font-medium capitalize text-white">
          Browse by categories
        </h2>
        <p class="text-sm font-medium text-default-200">
          Start working with Tailwindcss It allows you to compose complex
          designs <br />
          by combining and customizing utility classes..
        </p>
      </div>
      <a
        href="javascript: void(0);"
        class="inline-flex items-center justify-center gap-2 rounded-full border border-white/10 px-4 py-1.5 text-sm text-white transition-all duration-300 hover:bg-primary-hover"
        >See All <lucide-icon name="move-right" class="h-5 w-5"></lucide-icon
      ></a>
    </div>

    <div class="grid grid-cols-2 gap-6 md:grid-cols-3">
      @for (category of browseByCategories; track $index) {
        <div class="relative overflow-hidden rounded-xl">
          <div class="absolute inset-0 bg-black/60"></div>
          <div class="absolute start-0 top-0 p-4">
            <a
              href=""
              class="inline-flex items-center justify-center gap-2 rounded-full border border-primary bg-primary px-6 py-1.5 text-base text-white transition-all duration-300 hover:bg-primary-hover"
              >{{ category.category }}</a
            >
          </div>
          <img [src]="category.image" alt="" class="" />
        </div>
      }
    </div>
  </div>
</section>
