<section id="sellers" class="pb-24">
  <div class="container">
    <div class="mb-10 flex flex-wrap items-center justify-between">
      <div>
        <h2 class="mb-2 text-4xl font-medium capitalize text-white">
          Top Sellers
        </h2>
        <p class="text-sm font-medium text-default-200">
          Start working with Tailwindcss It allows you to compose complex
          designs <br />
          by combining and customizing utility classes..
        </p>
      </div>
      <a
        href="javascript: void(0);"
        class="inline-flex items-center justify-center gap-2 rounded-full border border-white/10 px-4 py-1.5 text-sm text-white transition-all duration-300 hover:bg-primary-hover"
        >View All <lucide-icon name="move-right" class="h-5 w-5"></lucide-icon
      ></a>
    </div>

    <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
      @for (item of sellers; track $index; let idx = $index) {
        <div
          class="rounded-xl bg-default-950/40 backdrop-blur-3xl"
          data-aos="zoom-in-up"
          data-aos-duration="800"
        >
          <div
            class="flex items-center border-b border-dashed border-white/20 p-4"
          >
            @for (image of item.images; track $index) {
              <div class="w-1/2 p-1">
                <img [src]="image" class="rounded-md" alt="" />
              </div>
            }
          </div>
          <div class="p-4">
            <div class="mb-6 flex w-full items-center justify-between">
              <img alt="" [src]="item.avatar" class="h-14 w-14 rounded-full" />
              <h3 class="text-3xl font-semibold text-default-100/60">
                0{{ idx + 1 }}
              </h3>
            </div>
            <div class="mb-4 flex items-end justify-between">
              <div>
                <h5
                  class="mb-2 flex items-center text-xl font-medium text-white"
                >
                  {{ item.name }}
                </h5>
                <p class="text-xs text-default-200">
                  Total earnings:
                  <span class="font-medium text-white">
                    {{ currency }}{{ item.amount }}
                  </span>
                </p>
              </div>
              <a
                href="javascript: void(0);"
                class="inline-flex items-center justify-center gap-2 rounded-full border border-white/10 px-4 py-1.5 text-sm text-white transition-all duration-300 hover:bg-primary-hover"
                >View Detail</a
              >
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
