<div class="main-content h-full flex flex-col">
  <!-- File upload notification -->
  <!--      <div class="file-upload-notification">-->
  <!--        <div-->
  <!--          class="w-[520px] h-32 bg-gradient-to-l from-white/40 to-white/0 rounded-lg border-2 border-white backdrop-blur-[5px]"-->
  <!--          style=" display: flex;-->
  <!--        align-items: center;"-->
  <!--        >-->
  <!--          <div class="file-icon">-->
  <!--            <img src="/assets/images/icon/document.svg" alt="Document" />-->
  <!--          </div>-->
  <!--          <div class="file-info">-->
  <!--            <div class="file-name">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.doc</div>-->
  <!--            <div class="upload-status">-->
  <!--              <div class="status-icon">-->
  <!--                <img src="/assets/images/icon/check-one.svg" alt="Success" />-->
  <!--              </div>-->
  <!--              <div class="status-text">Uploaded</div>-->
  <!--              <div class="upload-time">2025-05-02 14:15:12</div>-->

  <!--              <div class="delete-button">-->
  <!--                <img src="/assets/images/icon/delete.svg" alt="Delete" />-->
  <!--                <div class="upload-time" style="margin-left: 8px">Delete</div>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->

  <!-- Dynamic feature cards -->
  <app-feature-card
    *ngFor="let card of featureCards; trackBy: trackByCardId"
    [featureCard]="card"
    [cardState]="getCardState(card.id)"
    (expandClicked)="toggleGradient($event)"
    (expandHoverStart)="showGradientOnHover($event)"
    (expandHoverEnd)="hideGradientOnHover($event)"
  ></app-feature-card>
</div>
