<section
  id="tools"
  class="py-20"
  data-aos="zoom-in"
  data-aos-easing="ease"
  data-aos-duration="1000"
>
  <div class="container">
    <div class="mb-10 flex items-end justify-between">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="mb-4 text-3xl font-medium capitalize text-white">
          60+ Powerfull Tools
        </h2>
        <p class="text-sm font-medium text-default-200">
          Start working with Tailwindcss It allows you to compose complex
          designs <br />
          by combining and customizing utility classes..
        </p>
      </div>
    </div>
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
      @for (item of tools; track $index) {
        <div class="rounded-xl bg-default-950/40 backdrop-blur-3xl">
          <div class="p-6">
            <div class="mb-4 flex items-center gap-4">
              <div
                class="inline-flex items-center justify-center h-10 w-10 {{
                  item.iconClass
                }} rounded-lg"
              >
                <lucide-icon [name]="item.icon" class="h-6 w-6"></lucide-icon>
              </div>
              <h3 class="text-xl font-medium text-default-200">
                {{ item.name }}
              </h3>
            </div>

            <a
              href="javascript: void(0);"
              class="group relative inline-flex items-center gap-2 text-primary"
            >
              <span
                class="absolute -bottom-0 h-px w-7/12 rounded bg-primary/80 transition-all duration-500 group-hover:w-full"
              ></span>
              Select & try
              <lucide-icon name="move-right" class="h-4 w-4"></lucide-icon>
            </a>
          </div>
        </div>
      }
    </div>

    <div class="mt-10 flex justify-center">
      <a
        href="javascript: void(0);"
        class="inline-flex items-center justify-center gap-2 rounded-full bg-primary px-6 py-2 text-white transition-all duration-300 hover:bg-primary-hover"
        >More Tools <lucide-icon name="move-right" class="h-5 w-5"></lucide-icon
      ></a>
    </div>
  </div>
</section>
