<section class="py-14">
  <div
    class="container"
    data-aos="zoom-in"
    data-aos-easing="ease"
    data-aos-duration="1000"
  >
    <div class="mt-5">
      <div class="swiper logo-swiper">
        <swiper-container
          [config]="swiperConfig"
          init="false"
          class="swiper-wrapper"
        >
          <swiper-slide class="swiper-slide">
            <img src="assets/images/logo/1.png" alt="" />
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img src="assets/images/logo/2.png" alt="" />
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img src="assets/images/logo/3.png" alt="" />
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img src="assets/images/logo/4.png" alt="" />
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img src="assets/images/logo/5.png" alt="" />
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img src="assets/images/logo/1.png" alt="" />
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img src="assets/images/logo/2.png" alt="" />
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img src="assets/images/logo/3.png" alt="" />
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img src="assets/images/logo/4.png" alt="" />
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img src="assets/images/logo/5.png" alt="" />
          </swiper-slide>
        </swiper-container>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
