<section id="tools" class="py-20">
  <div class="container">
    <div class="mb-10 flex items-end justify-between">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="mb-4 text-3xl font-medium capitalize text-white">
          AI Generate Content In Seconds
        </h2>
        <p class="text-sm font-medium text-default-200">
          Start working with Tailwindcss It allows you to compose complex
          designs <br />
          by combining and customizing utility classes..
        </p>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-3">
      @for (item of aiTools; track $index) {
        <div
          class="rounded-xl border border-white/10 bg-default-950/40 p-6 text-center"
          data-aos="fade-up"
          data-aos-easing="ease"
          data-aos-duration="1000"
        >
          <span
            class="relative z-0 inline-flex h-24 w-24 items-center justify-center bg-primary/10"
            style="border-radius: 28% 72% 50% 50%/26% 20% 80% 74%"
          >
            <lucide-icon
              [name]="item.icon"
              class="mx-auto h-10 w-10 text-primary"
            ></lucide-icon>
          </span>
          <h2 class="mt-5 text-2xl font-medium text-white">{{ item.title }}</h2>
          <p class="mb-6 mt-2 text-base font-medium text-default-200">
            {{ item.description }}
          </p>
          <a
            href="javascript: void(0);"
            class="inline-flex items-center justify-center gap-2 rounded-full border border-white/10 px-6 py-2 text-white transition-all duration-300 hover:bg-primary-hover"
            >More Tools
            <lucide-icon name="move-right" class="h-5 w-5"></lucide-icon
          ></a>
        </div>
      }
    </div>
  </div>
</section>
