<section id="tools" class="py-20">
  <div class="container">
    <div class="mb-10 flex items-end justify-between">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="mb-4 text-3xl font-medium capitalize text-white">
          Generate High-Quality Content in Moments
        </h2>
        <p class="text-sm font-medium text-default-200">
          Produce clear, well-organized writing in seconds — from original
          essays to paraphrased text and step-by-step problem solutions.
        </p>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-3">
      @for (item of aiTools; track $index) {
        <div
          class="rounded-xl border border-white/10 bg-default-950/40 p-6 text-center"
          data-aos="fade-up"
          data-aos-easing="ease"
          data-aos-duration="1000"
        >
          <span
            class="relative z-0 inline-flex h-24 w-24 items-center justify-center bg-primary/10"
            style="border-radius: 28% 72% 50% 50%/26% 20% 80% 74%"
          >
            <lucide-icon
              [name]="item.icon"
              class="mx-auto h-10 w-10 text-primary"
            ></lucide-icon>
          </span>
          <h2 class="mt-5 text-2xl font-medium text-white">{{ item.title }}</h2>
          <p class="mb-6 mt-2 text-base font-medium text-default-200">
            {{ item.description }}
          </p>
        </div>
      }
    </div>
  </div>
</section>
