<section id="testimonials" class="pb-24">
  <div class="container">
    <div class="flex flex-wrap items-center justify-between gap-5">
      <div>
        <div class="mx-auto max-w-2xl">
          <h2 class="mb-4 text-3xl font-medium text-white">
            Our AI-made Images
          </h2>
          <p class="text-sm font-medium text-default-200">
            I am blown away by the AI-generated artwork. Each piece is a
            masterpiece in its own right, and I love how it combines the
            creativity of human artists with the innovation of AI.
          </p>
        </div>
      </div>
      <div>
        <a
          href="javascript: void(0);"
          class="inline-flex items-center justify-center gap-2 rounded-md border border-white/10 bg-primary px-6 py-2 text-white transition-all duration-300 hover:bg-primary-hover"
          >Generate AI Images</a
        >
      </div>
    </div>
  </div>

  <div class="mt-14">
    <div
      class="relative m-auto flex gap-8 overflow-hidden"
      data-aos="fade-up"
      data-aos-easing="ease"
      data-aos-duration="1000"
    >
      <div
        class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8"
      >
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-9.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-14.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-21.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-22.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-10.jpg"
          alt=""
        />
      </div>

      <div
        aria-hidden="true"
        class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8"
      >
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-9.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-14.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-21.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-22.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-10.jpg"
          alt=""
        />
      </div>
    </div>

    <div
      class="marquee--reverse m-auto mt-7 flex gap-8 overflow-hidden"
      data-aos="fade-up"
      data-aos-easing="ease"
      data-aos-duration="1000"
    >
      <div
        class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8 delay-[31s]"
      >
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-6.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-10.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-11.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-12.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-13.jpg"
          alt=""
        />
      </div>

      <div
        aria-hidden="true"
        class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8 delay-[31s]"
      >
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-6.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-10.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-11.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-12.jpg"
          alt=""
        />
        <img
          class="aspect-1 h-60 w-full rounded-xl object-cover"
          src="assets/images/ai/img-13.jpg"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="mt-12 flex items-center justify-center">
    <a
      href="javascript: void(0);"
      class="inline-flex items-center justify-center gap-2 rounded-full border border-white/10 px-6 py-2 text-white transition-all duration-300 hover:bg-primary-hover"
      >More Tools
      <lucide-icon name="move-right" class="h-5 w-5"></lucide-icon>
    </a>
  </div>
</section>
